body {
    width: 960px;
    margin: 0 auto;
    text-align: left;
    font-size: 12pt;
    font-family: Arial, sans-serif;
    color: black;
}

h1 {
    text-transform: lowercase;
    text-align: center;
}

#help {
    cursor: help;
}

#chessboard {
    width: 700px;
    height: 700px;
    margin: 0 auto;
}

#clear {
    clear: both;
    width: 0;
    height: 0;
}

#chessboard table {
    border-spacing: 0;
    border-collapse: collapse;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#chessboard table tr th, #chessboard table tr td {
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

#chessboard table tr th {
    font-size: small;
    font-weight: normal;
}

#chessboard table tr th.file {
    width: 80px;
    height: 30px;
}

#chessboard table tr th.rank {
    width: 30px;
    height: 80px;
}

#chessboard table tr:first-child th:first-child {
    border-top-left-radius: 14px;
}

#chessboard table tr:first-child th:last-child {
    border-top-right-radius: 14px;
}

#chessboard table tr:last-child th:first-child {
    border-bottom-left-radius: 14px;
}

#chessboard table tr:last-child th:last-child {
    border-bottom-right-radius: 14px;
}

#chessboard table tr td {
    width: 80px;
    height: 80px;
}

#chessboard table tr td.light {
    background: lightgrey;
}

#chessboard table tr td.dark {
    background: darkgrey;
}

#chessboard table tr td div {
    font-size: 50px;
}

#chessboard table tr td.to.capture, 
#chessboard table tr td.to.en-passant:after {
    background-color: rgba(255, 0, 0, 0.5);
    filter: brightness(1.2);
}

#chessboard table tr td.to.positional:after, 
#chessboard table tr td.to.double-push:after, 
#chessboard table tr td.to.queen-castle:after, 
#chessboard table tr td.to.king-castle:after {
    color: gray;
    content: "\2022";
}

#chessboard table tr td.turn {
    cursor: move;
}

#chessboard table tr td div.turn:not(.can-move) {
    cursor: not-allowed;
}
